@import "../../assests/styles/responsive.scss";
.users {
  width: 100%;
  @include xxl {
    width: 1000px;
  }
  @include xl {
    width: 900px;
  }
  @include lg {
    width: 850px;
  }
  @include md {
    width: 700px;
  }
  @include sm {
    width: 290px;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
    }
  }
}
